@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-main-bg {
  background-image: url(/images/pattern-light-bg.svg);
}

.bg-gradient-text {
  background-image: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
}

.bg-custom {
  background-image: url("/images/pattern-light-bg.svg"),
    url("/images/pattern-glow.svg");
  background-position: 0% 0%, left top;
}

/* OG */
.theme-button {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(71 85 105);
  left: -0.25rem;
  top: -0.25rem;
  transition: transform 0.4s ease;
}

.theme-button.darkmode {
  background-color: white;
  transform: translateX(1rem);
}

.hero-section {
  position: relative;
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/herobg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.check-box::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 18px;
  width: 25px;
  height: 25px;
  background-image: url("/images/checkmark.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 3;
  }

  .navmenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 3;
    padding: 80px;
    gap: 2em;
    transition: 0.3s ease-in-out;
    box-shadow: -10px 0px 10px -15px rgba(0, 0, 0, 0.5);
  }

  .navmenu.opened {
    right: 0;
  }

  .hamburger {
    position: fixed;
    display: block;
    z-index: 4;
    top: 26px;
    right: 32px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.opened .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.opened .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.opened .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }

  .dimmer.opened {
    opacity: 0.5;
  }
}
